<form action="/auth/login" method="POST">
  <input type="text" placeholder="username" name="username" />
  <input type="password" placeholder="password" name="password" />
  <input type="submit" value="Log In" />
<a href="">Forgot Your Password?</a>

<a href="/auth/login/facebook">Facebook</a>
<a href="/auth/login/google">Gmail</a>
</form>