<form action="/auth/login" method="POST">
  <input type="text" placeholder="username" name="username" />
  <input type="password" placeholder="password" name="password" />
  <input type="password" placeholder=" repeat password" />
  <input type="text" placeholder="email" name="email" />
  <input type="text" placeholder="first name" name="firstName" />
  <input type="text" placeholder="last name" name="lastName" />
  <input type="text" placeholder="age" name="age" />
  <input type="text" placeholder="city" name="city" />
  <input type="text" placeholder="avatar" name="avatar" />

  <input type="submit" value="Log In" />
</form>