<h1>{{message}}</h1>
<form action="/auth/register" method="POST">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <input type="password" name="confirmPassword" placeholder="confirm Password" />
  <input type="text" name="email" placeholder="email" />
  <input type="text" name="firstName" placeholder="first name" />
  <input type="text" name="lastName" placeholder="last name" />
  <input type="text" name="age" placeholder="age" />
  <input type="text" name="city" placeholder="city" />
  <input type="text" name="avatar" placeholder="avatar" />

  <button type="submit">Sign Up</button>
</form>