/*
@Author: ThemeMascot
@URL: http://ThemeMascot.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify main-style.css file.

*/

/* Your custom css codes start here: */

/* Buttons */
.btn-orange {
    background-color: #F88540;
    border-color: #F88540;
    color: #FFF;
}

.btn-orange:hover{
    color: #FFF;
    background-color: #e0773a;
    border-color:  #e0773a;
}

.btn-fbk {
    background-color: #3B5998;
    color: #FFF;
}

.btn-fbk:hover{
    color: #FFF;
    background-color: #345089;
}

.btn-google {
    background-color: #D64936;
    color: #FFF;
}

.btn-google:hover{
    color: #FFF;
    background-color: #c64331;
}

/* Labels */
.lbl-orange {
    color: #F88540 !important;
}

.lbl-blue {
    color: #80ACDD;
}

.lbl-blue-hover {
    color: #80ACDD;
}

.lbl-blue-hover:hover {
    color: #5892d2;
}
