<section class="divider parallax fullscreen">
    <div class="container">
        <h1>Thank you for your purchase</h1>
        <div><h2>The amount you have paid will go directly to <span class="lbl-orange">Red Cross Bulgaria</b></h2></div>
    </div>
</section>

