<div class="row">

	<div class="container">
		            <div>
              <h2 class="heading-title lbl-orange text-center">Track customer payments and the charities they are donating for</h2>
              <hr>
            </div>
			  <div class="col-lg-1"></div>
             <div data-example-id="contextual-table" class="bs-example col-lg-10 col-offset-1"> <table class="table"> <thead> <tr> <th>#</th> <th>Date</th> <th>User</th> <th>Sum</th> <th>Charity</th> <th>% of goal</th><th></tr> </thead> 
			 <tbody> 
			 <tr > <th scope="row">1</th> <td>27.02.2021 13:33</td> <td>Jordan</td> <td>$350</td> <td>Bulgarian Red Cross</td> 	 
			 <td>
			 
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
						5%
					</div>
				</div>			 
			 </td>
			 

			<tr class="warning">
				<td>Red Cross Goal Completion %</td>
				<td colspan="5">
			 
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">   
				</div>
				</div>		 
				</td>			 
			</tr>

				 
						 <tr > <th scope="row">2</th> <td>27.02.2021 14:13</td> <td>Borka</td> <td>$50</td> <td>Kids Support</td> 	 
			 <td>
			 
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 15%;">
						15%
					</div>
				</div>			 
			 </td>
			 

			<tr class="warning">
				<td>Kids Support Completion %</td>
				<td colspan="5">
			 
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">   
				</div>
				</div>		 
				</td>			 
			</tr>	 
				 
				 

			<tr > <th scope="row">3</th> <td>27.02.2021 16:03</td> <td>Nicolas</td> <td>$1350</td> <td>Future of Tomorrow</td> 	 
			 <td>
			 
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
						55%
					</div>
				</div>			 
			 </td>
			 

			<tr class="warning">
				<td>Future of Tomorrow Completion %</td>
				<td colspan="5">
			 
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">   
				</div>
				</div>		 
				</td>			 
			</tr>

				 
						 <tr > <th scope="row">4</th> <td>27.02.2021 22:10</td> <td>Ivailo</td> <td>$230</td> <td>Home Abuse Help Line</td> 	 
			 <td>
			 
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 13%;">
						13%
					</div>
				</div>			 
			 </td>
			 

			<tr class="warning">
				<td>Home Abuse Help Line Completion %</td>
				<td colspan="5">
			 
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="66" style="width: 66%">   
				</div>
				</div>		 
				</td>			 
			</tr>	 				 

			 
			 
			 </tbody> </table> 
              </div>

          </div>
        </div>

	</div>
         
	

             