<div class="row mb-15">
          <div class="col-md-12 text-center">
            
            <div>
              <h2 class="heading-title lbl-orange text-center">Realeased payments</h2>
              <hr>
            </div>
            <div class="row">
			
						    <div class="col-md-3">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-success">
				  
				  
				<table class="table table-bordered"> 
					<tbody> 
						<tr> <th scope="row">Charity:</th> <td>Test Me Out</td>  </tr> 
						<tr> <th scope="row">Cause:</th> <td>Please work!</td>  </tr> 
						<tr> <th scope="row">Fund Send:</th> <td>$9950</td>  </tr> 
						<tr> <th scope="row">Date:</th> <td>27.02.2021 10:44</td>  </tr> 
						<tr> <th scope="row">Bank:</th> <td>DSK BANK</td>  </tr> 
						<tr> <th scope="row">SWIFT:</th> <td>STSABGSFXXX</td>  </tr> 
						<tr> <th scope="row">IBAN:</th> <td>ST12341SABGSF3315BG66123412</td>  </tr> 
						<tr> <th scope="row">Organization Confirmation Code:</th> <td>28022021113</td>  </tr> 
					</tbody> 
				</table>  			
				  
				  </li>

    

                </ul>                
              </div>
			
						  <div class="col-md-3">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-success">
				  
				  
				<table class="table table-bordered"> 
					<tbody> 
						<tr> <th scope="row">Charity:</th> <td>Bulgarian Red Cross</td>  </tr> 
						<tr> <th scope="row">Cause:</th> <td>Stop the war on the road</td>  </tr> 
						<tr> <th scope="row">Fund Send:</th> <td>$350</td>  </tr> 
						<tr> <th scope="row">Date:</th> <td>27.02.2021 23:56</td>  </tr> 
						<tr> <th scope="row">Bank:</th> <td>UBB BANK</td>  </tr> 
						<tr> <th scope="row">SWIFT:</th> <td>UBBSBGSF</td>  </tr> 
						<tr> <th scope="row">IBAN:</th> <td>UBBSBGSF312312BG885234121</td>  </tr> 
						<tr> <th scope="row">Organization Confirmation Code:</th> <td>2802201132</td>  </tr> 
					</tbody> 
				</table>  			
				  
				  </li>

    

                </ul>                
              </div>
			
			
              <div class="col-md-3">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-success">
				  
				  
				<table class="table table-bordered"> 
					<tbody> 
						<tr> <th scope="row">Charity:</th> <td>Kids Support</td>  </tr> 
						<tr> <th scope="row">Cause:</th> <td>Christmass gifts for everyone</td>  </tr> 
						<tr> <th scope="row">Fund Send:</th> <td>$50</td>  </tr> 
						<tr> <th scope="row">Date:</th> <td>27.02.2021 23:06</td>  </tr> 
						<tr> <th scope="row">Bank:</th> <td>DSK BANK</td>  </tr> 
						<tr> <th scope="row">SWIFT:</th> <td>STSABGSFXXX</td>  </tr> 
						<tr> <th scope="row">IBAN:</th> <td>ST12341SABGSF3315BG455213132</td>  </tr> 
						<tr> <th scope="row">Organization Confirmation Code:</th> <td>280220210001</td>  </tr> 
					</tbody> 
				</table>  			
				  
				  </li>

    

                </ul>                
              </div>
			  

			  
			  <div class="col-md-3">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-warning">
				  
				  
				<table class="table table-bordered" > 
					<tbody> 
						<tr> <th scope="row">Charity:</th> <td>Future of Tomorrow</td>  </tr> 
						<tr> <th scope="row">Cause:</th> <td>Clean Rilla</td>  </tr> 
						<tr> <th scope="row">Fund Send:</th> <td>$500</td>  </tr> 
						<tr> <th scope="row">Date:</th> <td>28.02.2021 00:13</td>  </tr> 
						<tr> <th scope="row">Bank:</th> <td>UBB BANK</td>  </tr> 
						<tr> <th scope="row">SWIFT:</th> <td>UBBSBGSF</td>  </tr> 
						<tr> <th scope="row">IBAN:</th> <td>UBBSBGSF312312BG11346829</td>  </tr> 
						<tr> <th scope="row">Organization Confirmation Code:</th> <td style="color:red">Waiting confirmation</td>  </tr> 
					</tbody> 
				</table>  			
				  
				  </li>

    

                </ul>                
              </div>
			  
			  <div class="col-md-3">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-success">
				  
				  
				<table class="table table-bordered"> 
					<tbody> 
						<tr> <th scope="row">Charity:</th> <td>Home Abuse Help Line</td>  </tr> 
						<tr> <th scope="row">Cause:</th> <td>Say NO!</td>  </tr> 
						<tr> <th scope="row">Fund Send:</th> <td>$230</td>  </tr> 
						<tr> <th scope="row">Date:</th> <td>28.02.2021 00:44</td>  </tr> 
						<tr> <th scope="row">Bank:</th> <td>DSK BANK</td>  </tr> 
						<tr> <th scope="row">SWIFT:</th> <td>STSABGSFXXX</td>  </tr> 
						<tr> <th scope="row">IBAN:</th> <td>ST12341SABGSF3315BG66123412</td>  </tr> 
						<tr> <th scope="row">Organization Confirmation Code:</th> <td>280220210055</td>  </tr> 
					</tbody> 
				</table>  			
				  
				  </li>

    

                </ul>                
              </div>
			  

            </div>
          </div>