<section id="home" class="fullscreen parallax text-center layer-overlay overlay-dark-5" data-bg-img="http://placehold.it/1920x1280">
  <div class="display-table text-center">
    <div class="display-table-cell">
      <div class="container pt-0 pb-0">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="lbl-orange font-200 line-height-1em mb-0">404</h1>
            <h2 class="text-white mt-0">Oops! Page Not Found</h2>
            <p class="text-gray-lightgray">The page you were looking for could not be found.</p>
            <a href="/" class="btn btn-orange mt-30">Return Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>