<form action="products/category/{{category._id}}" method="POST">
    {{#with category}}
<input type="text" name="title" value="{{title}}" placeholder="title"></input>
    {{/with}}
<button type="submit">Save</button>
</form>