{{#with target}}
<form action="/charities/{{charity._id}}/target" method="POST">
  <input type="text" name="title" />
  <input type="text" name="description"/>
  <input type="text" name="targetSum"/>

  <button type="submit">Create</button>
  </form>
{{/with}}