<h2>{{message}}</h2>
{{#with target}}
<form action="/charities/{{charity._id}}/target" method="POST">
  <input type="text" name="target[title]" />
  <input type="text" name="target[description]"/>
  <input type="text" name="target[targetSum]"/>

  <button type="submit">Create</button>
  </form>
{{/with}}