<section id="home" class="divider parallax fullscreen layer-overlay overlay-white-9" data-bg-img="https://camcare.org.au/wp-content/uploads/2018/02/camcare-donate.jpg">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-push-3">
                <h2 class="lbl-orange">Add Product</h2>
                <form name="login-form" action="/products" method="POST" class="form-transparent clearfix" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="form_title">Title</label>
                            <input id="form_title" name="product[title]" class="form-control" type="text" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="form_description">Description</label>
                            <textarea id="form_description" name="product[description]" rows="4" class="form-control"  required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="form_price">Price</label>
                            <input id="form_price" name="product[price]" class="form-control" type="text" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="form_quantity">Quantity</label>
                            <input id="form_quantity" name="product[quantity]" class="form-control" type="number" min="1" max="99" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="form_category">Category</label>
                            <select id="form_category" class="form-control" name="product[category]">
                                <option value="none" selected disabled hidden>Select a Category</option>
                                {{#each categories}}
                                    <option value="{{this._id}}" >{{this.title}}</option>
                                {{/each}}
                            </select> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="form_charity">Charity</label>
                            <select id="form_charity" multiple class="form-control" name="product[charity]">
                                <option value="none" selected disabled hidden>Select a Charity</option>
                                {{#each charities}}
                                    <option value="{{this._id}}">{{this.title}}</option>
                                {{/each}}
                            </select> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                             <input type="file" id="actual-btn" name="avatar" hidden/>
                            <label for="actual-btn" class="btn btn-orange">Избери файл</label>
                            <span id="file-chosen">Няма избрани файлове</span>
                        </div>
                    </div>
                    <div class="clear text-center">
                        <button type="submit" class="btn btn-orange btn-lg btn-block no-border">Create</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<script>
  const actualBtn = document.getElementById('actual-btn');
  document.getElementById('actual-btn').style.visibility = "hidden";
const fileChosen = document.getElementById('file-chosen');
  actualBtn.addEventListener('change', function(){
  fileChosen.textContent = this.files[0].name
});

</script>