{{#each categories}}
  <p>{{this.title}}</p>
  <a href="/categories/{{this._id}}">Edit Category</a>
  <hr>
{{/each}}

{{#each products}}
  <p>{{this.title}}</p>
  <a href="/products/{{this._id}}">Product Details</a>
  <hr>
{{/each}}